@using Microsoft.AspNet.Identity

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />

    <title>@ViewBag.Title - FacebookV2</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (Request.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("My Profile", "ShowMyProfile", "Profile", null, null)</li>
                        <li>@Html.ActionLink("Edit Profile", "Edit", "Profile", null, null)</li>
                        <li>@Html.ActionLink("Friends", "GetAll", "Friend", null, null)</li>
                    }
                </ul>
                @if (Request.IsAuthenticated)
                {
                    <select class="form-control" id="searchBar"></select>
                }
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018 - FacebookV2</p>
        </footer>
    </div>
    @*<nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav"></ul>
                </div>


                @if (Request.IsAuthenticated)
                {
                    <select class="form-control" id="searchBar"></select>
                }
            </div>
        </nav>
        <div class="container body-content">
            <div class="side-bar">
                <div class="user-box">
                </div>
                <ul>
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Edit Profile", "Edit", "Profile", null, null)</li>
                        <li>@Html.ActionLink("Friends", "GetAll", "Friend", null, null)</li>
                        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                        {
                            @Html.AntiForgeryToken()
                            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                        }
                    }
                </ul>
            </div>
            <div class="right-container">
                @RenderBody()
            </div>

            <hr />
            <footer>
                <p>&copy; 2018 - FacebookV2</p>
            </footer>
        </div>*@


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script src="~/Scripts/app/searchBar.js"></script>
</body>
</html>
