
@{
    ViewBag.Title = "Index";
}

<h2>Groups</h2>



@foreach (var group in ViewBag.Groups)
{
    <p>Id : @group.Id</p>
    <p>Id of admin: @group.AdminId</p>
    <p>First Name:  @group.Name</p>
    <p>Descripton: @group.Description</p>
    <p>Date of Creation: @group.CreatedDate</p>
    //<a href="/Categories/Show/@category.CategoryId">Afisare categorie</a>

}
